# Arquivos da pasta raiz
/* @omesquita @jnunes-dev

# Pastas e Arquivos gerais de config
/gradle/ @omesquita @jnunes-dev
google-services.json @omesquita @jnunes-dev
*.gradle @omesquita @jnunes-dev
*.properties @omesquita @jnunes-dev
*.pro @omesquita @jnunes-dev
*.jks @omesquita @jnunes-dev

# Arquivos de config do github
.github/ @omesquita @jnunes-dev
.githooks/ @omesquita @jnunes-dev
.github/workflows/jira_integration.yml @pagbank/CodeOwnersMazagon @Admins

# Pastas de sec
/TrustDefender*/ @amorimgabriel
/dexGuard*/ @amorimgabriel

# Módulos
/common/ @pagbank/pfa
/common/**/myaccount/arch/ @jnunes-dev @omesquita
/common/**/myaccount/datami/ @jnunes-dev @omesquita
/common/**/myaccount/instabug/ @pedrofsn
/common/**/myaccount/otpValidation/ @amorimgabriel
/common/**/myaccount/tracking/ @jnunes-dev @omesquita
/common/**/myaccount/uicache/ @jlccaires @jerodac
/core/ @jnunes-dev @omesquita
/initialization/ @jnunes-dev @omesquita
/router/ @jnunes-dev @omesquita
/sample_utils/ @jnunes-dev @omesquita
/pb_lint/ @jnunes-dev @omesquita
/psflutter/ @jlccaires @jerodac
/security_device/ @amorimgabriel
/security_monitoring/ @amorimgabriel
/security_token/ @amorimgabriel
/session/ @jnunes-dev @omesquita @amorimgabriel @pedrofsn
/testutils/ @pagbank/pfa
/ui_base/ @pagbank/pfa
/ui_components/ @pagbank/pfa

# Módulo App
app/version.properties @jnunes-dev @omesquita
app/libs/ @pagbank/pfa
app/libs/PushIOManager* @amorimgabriel
app/**/myaccount/* @pagbank/pfa
app/**/myaccount/account/ @LuizGadao @tqiccarvalho
app/**/myaccount/adapters/ @pagbank/pfa
app/**/myaccount/addmoney/ @LuizGadao @tqiccarvalho
app/**/myaccount/announcementV2/ @pedrofsn
app/**/myaccount/notificationCenter/ @pedrofsn
app/**/myaccount/anticipation/ @burnermanx
app/**/myaccount/backup/ @jnunes-dev @omesquita
app/**/myaccount/automatic_debit/ @tqiccarvalho @tqifegarcia @LuizGadao @maslima1
app/**/myaccount/balance/ @tqiccarvalho @tqifegarcia @LuizGadao
app/**/myaccount/bankInstitutionSearch/ @tqiccarvalho @tqifegarcia @LuizGadao
app/**/myaccount/bankTransfer/ @tqiccarvalho @tqifegarcia @LuizGadao
app/**/myaccount/banner/ @amorimgabriel @pedrofsn
app/**/myaccount/benefits/ @LuizGadao @tqiccarvalho
app/**/myaccount/bill/ @tqirqueiroz
app/**/myaccount/business/ @pagbank/pfa
app/**/myaccount/cache/ @jlccaires @jerodac
app/**/myaccount/campaign/ @amorimgabriel
app/**/myaccount/cardHandlerThirdParty/ @tqi-dosantos @LuizGadao @tqiccarvalho
app/**/myaccount/cardinal/ @tqi-dosantos @LuizGadao @tqiccarvalho
app/**/myaccount/cards/ @jlccaires @jerodac
app/**/myaccount/cashback/ @LuizGadao @tqiccarvalho
app/**/myaccount/cashIn/ @LuizGadao @tqiccarvalho
app/**/myaccount/chat/ @pedrofsn
app/**/myaccount/coachmark/ @atilabraga
app/**/myaccount/controller/ @pagbank/pfa
app/**/myaccount/core/ @jnunes-dev @omesquita
app/**/myaccount/corporateCategory/ @atilabraga
app/**/myaccount/deepLink/ @atilabraga @pedrofsn
app/**/myaccount/detran/ @tqiccarvalho @tqifegarcia @LuizGadao @maslima1
app/**/myaccount/engagement/ @LuizGadao @tqiccarvalho
app/**/myaccount/enums/ @pagbank/pfa
app/**/myaccount/extract/ @pedrofsn
app/**/myaccount/extractV2/ @pedrofsn
app/**/myaccount/financialManager/ @atilabraga
app/**/myaccount/fragment/ @pagbank/pfa
app/**/myaccount/futurePaymentRelease/ @burnermanx
app/**/myaccount/gamification/ @atilabraga
app/**/myaccount/helpCenter/ @atilabraga @pedrofsn
app/**/myaccount/home/ @pedrofsn
app/**/myaccount/incomeTax/ @tqiccarvalho @LuizGadao
app/**/myaccount/importFile/ @tqiccarvalho @tqifegarcia @LuizGadao @maslima1
app/**/myaccount/instantBilling/ @tqirqueiroz
app/**/myaccount/insurance/ @LoysGibertoni
app/**/myaccount/interfaces/ @pagbank/pfa
app/**/myaccount/investments/ @LoysGibertoni
app/**/myaccount/invitation/ @atilabraga
app/**/myaccount/listeners/ @pagbank/pfa
app/**/myaccount/loan/ @LoysGibertoni
app/**/myaccount/login/ @amorimgabriel
app/**/myaccount/main/ @pedrofsn
app/**/myaccount/metrics/ @jnunes-dev
app/**/myaccount/model/ @pagbank/pfa
app/**/myaccount/monitoring/ @jnunes-dev
app/**/myaccount/notifications/ @amorimgabriel @pedrofsn
app/**/myaccount/offers/ @pedrofsn
app/**/myaccount/onboarding/ @tqiccarvalho @tqifegarcia @LuizGadao
app/**/myaccount/onboarding/advancedAccount/ @amorimgabriel
app/**/myaccount/payment_slip/ @tqiccarvalho @tqifegarcia @LuizGadao @maslima1
app/**/myaccount/paymentLink/ @tqirqueiroz
app/**/myaccount/paymentMethod/ @tqi-dosantos @LuizGadao @tqiccarvalho
app/**/myaccount/paymentReleases/ @duanniston
app/**/myaccount/paymentTilix/ @tqiccarvalho @tqifegarcia @LuizGadao @maslima1
app/**/myaccount/phoneRecharge/ @LuizGadao @tqiccarvalho
app/**/myaccount/placesMap/ @Wcisang
app/**/myaccount/postalCode/ @jlccaires @jerodac
app/**/myaccount/presenter/ @pagbank/pfa
app/**/myaccount/profile/ @atilabraga
app/**/myaccount/provider/ @tqiccarvalho @pedrofsn
app/**/myaccount/push/ @pedrofsn
app/**/myaccount/qrcode/ @robsonmonteiro
app/**/myaccount/readers/simActivation/ @burnermanx
app/**/myaccount/readers/options/ @duanniston
app/**/myaccount/receivingPlans/ @duanniston
app/**/myaccount/refund/ @duanniston
app/**/myaccount/remunerateAccount/ @tqiccarvalho @tqifegarcia @LuizGadao
app/**/myaccount/review/ @pedrofsn
app/**/myaccount/rides/ @Wcisang
app/**/myaccount/router/ @LuizGadao @tqiccarvalho
app/**/myaccount/salary_portability/ @tqiccarvalho @tqifegarcia @LuizGadao
app/**/myaccount/saleAccountMigration/ @atilabraga
app/**/myaccount/sales/ @duanniston
app/**/myaccount/salesReport/ @duanniston
app/**/myaccount/salesTab/ @duanniston
app/**/myaccount/scheduling/ @tqiccarvalho @tqifegarcia @LuizGadao @maslima1
app/**/myaccount/security/ @amorimgabriel
app/**/myaccount/security/onboarding/ @amorimgabriel
app/**/myaccount/serviceStore/ @Wcisang
app/**/myaccount/shellbox/ @Wcisang
app/**/myaccount/shopping/ @Wcisang
app/**/myaccount/shortcut/ @omesquita @jnunes-dev
app/**/myaccount/signupV2/ @atilabraga
app/**/myaccount/smsToken/ @atilabraga
app/**/myaccount/splash/ @pedrofsn
app/**/myaccount/taxSimulator/ @duanniston
app/**/myaccount/transactionStatement/ @pedrofsn
app/**/myaccount/storage/ @omesquita @jnunes-dev
app/**/myaccount/transactionExtract/ @pedrofsn
app/**/myaccount/util/ @pagbank/pfa
app/**/myaccount/vo/ @pagbank/pfa
app/**/myaccount/wallet/ @tqi-dosantos @LuizGadao @tqiccarvalho
app/**/myaccount/widget/ @pagbank/pfa
app/**/myaccount/limits/ @Wcisang
app/**/myaccount/pix/ @tqiccarvalho @LuizGadao
app/**/myaccount/transfer_basic_account/ @LuizGadao @tqiccarvalho @felipe-at
app/**/myaccount/transfer_advanced_account/ @LuizGadao @tqiccarvalho @felipe-at

